<div class="progress-bar" [style.width.%]="perc">

</div>
<p>
  scroll-event works!, scroll-event works! scroll-event works! scroll-event works! scroll-event works! scroll-event works! scroll-event works!
</p>

<p>
  scroll-event works!
</p>

<p>
  scroll-event works!
</p>
<p>
  scroll-event works!
</p>
<p>
  scroll-event works!
</p>
<p>
  scroll-event works!
</p>
<p>
  scroll-event works!
</p>
<p>
  scroll-event works!
</p>
<p>
  scroll-event works!
</p>
<p>
  scroll-event works!
</p>
<p>
  scroll-event works!
</p>
<p>
  scroll-event works!
</p>
<p>
  scroll-event works!
</p>
<p>
  scroll-event works!
</p>
<p>
  scroll-event works!
</p>
<p>
  scroll-event works!
</p>
<p>
  scroll-event works!
</p>
<p>
  scroll-event works!
</p>
<p>
  scroll-event works!
</p>
<p>
  scroll-event works!
</p>
<p>
  scroll-event works!
</p>
<p>
  scroll-event works!
</p>
<p>
  scroll-event works!
</p>
<p>
  scroll-event works!
</p>
<p>
  scroll-event works!
</p>
<p>
  scroll-event works!
</p>
<p>
  scroll-event works!
</p>
<p>
  scroll-event works!
</p>
<p>
  scroll-event works!
</p>
<p>
  scroll-event works!
</p>
<p>
  scroll-event works!
</p>
<p>
  scroll-event works!
</p>
<p>
  scroll-event works!
</p>
<p>
  scroll-event works!
</p>
<p>
  scroll-event works!
</p>
<p>
  scroll-event works!
</p>
<p>
  scroll-event works!
</p>
<p>
  scroll-event works!
</p>
<p>
  scroll-event works!
</p>
<p>
  scroll-event works!
</p>
<p>
  scroll-event works!
</p>
<p>
  scroll-event works!
</p>
<p>
  scroll-event works!
</p>
<p>
  scroll-event works!
</p>
<p>
  scroll-event works!
</p>
<p>
  scroll-event works!
</p>
<p>
  scroll-event works!
</p>
<p>
  scroll-event works!
</p>
<p>
  scroll-event works!
</p>
<p>
  scroll-event works!
</p>
<p>
  scroll-event works!
</p>
<p>
  scroll-event works!
</p>
<p>
  scroll-event works!
</p>
<p>
  scroll-event works!
</p>
<p>
  scroll-event works!
</p>


